.pricing {
  text-decoration: none ;
  background-color: transparent;
  border: none;
  padding: 5px 0px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pricing::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  background: #393bc5;  
}

.pricing:hover::before {
  transform: scaleX(1);
}

.drawer-links{

  margin-left: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  align-items: center;
  justify-content: center;
  
}

.drawer-btn{
  display: flex;
  margin: 20px;
}

.getstarted-btn{
  /* fontFamily: 'Inter, sans-serif', padding: '10px', color: '#546fff', border: '1px solid #546fff' */
  padding: 10px !important; 
  color: #546fff !important;
  border: 1px solid #546fff !important;
}

.request-btn{
  margin-left: 20px !important;
  font-family: 'Inter, sans-serif' ;
  padding: 10px !important;
  background-color: #546fff !important;
  color: white !important;

}

.egg{
  height: 70px !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important; 
}

.pricing{
  font-size: 18px !important;
}

.main-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
}


@media screen and  (max-width: 1200px)  {
.logo-name{
  font-size: 14px;
  margin-left: -5px !important;
}
.getstarted-btn{
  padding: 9px !important;
  font-size: 13px !important;
}

.request-btn{
  padding: 9px !important;
  font-size: 13px !important;
}

.pricing{
  /* font-size: 16px !important; */
  margin-left: 15px;
}
}

@media screen and (min-width: 992px) and (max-width: 1024px) {

.main-header{
  width: 75vw;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) {

.logo-name{
  font-size: 14px;
  margin-left: -5px !important;
}
.getstarted-btn{
  padding: 8px !important;
  font-size: 12px !important;
}

.request-btn{
  padding: 8px !important;
  font-size: 12px !important;
}
.egg{
  height: 50px !important;
  padding-left: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important; 
  margin-left: -5px;
}

.pricing{
  font-size: 14px !important;
}

.main-header{
  width: 75vw;
}
}

@media screen and (min-width: 800px) and (max-width: 820px){
.main-header{
  width: 72vw;
}
}

@media screen and (min-width: 600px) and (max-width: 768px) {
.getstarted-btn{
  padding: 8px !important;
  font-size: 10px !important;
}
.main-header{
  width: 70vw;
}
}

@media only screen and (max-width: 600px) {
  
  .divput{
         margin-top: 50% !important;
         height: 50vh !important;
         padding-left: 10px !important;
         padding-right: 10px !important;
  }  

  .drawer{
    display: none;
  }
  .ty1{
    font-size: 2rem !important;
  }
  .ty{
    font-size: 18px !important;
  }
  .Query{
    height: auto;
  }
  .pop1{
    margin-right: 10vh !important;
    width: 82vw !important;
    height: 79vh !important;
  }

  .pricing{
    margin-top: 10px;
  }

  

  .drawer-links{
    margin-left: 95px;
    display: flex;
    flex-direction: column;    
  }
  .drawer-btn{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .main-header{
    display: none;
  }
  
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#555;
}