@media only screen and (max-width: 600px) {
    .main{
        background-image: none !important;
    }
  }

@media only screen and (max-width: 768px) {
    .ppp{ 
       display: flex !important;
       height: 80vh !important;
       align-items:center !important;
       justify-content: center !important;
    }
    .qwer{
        display: flex !important;
        height: 80vh !important;
        align-items:center !important;
        justify-content: center !important;
    }
    
  }

 
